<div class="container-lg p-5">
  <div class="d-flex flex-column align-items-center p-5">
    <h1 class="title text-success display-1">{{ title }}</h1>
    <p class="lead display-6 p-5 d-flex flex-column align-items-center fw-bold">
      <strong class="text-center">
        Uragsha application will help you find workout buddy. Never workout
        alone.
      </strong>
    </p>
    <button class="btn-lg btn-success p-3 shadow-none border-0">Schedule Now</button>
  </div>
</div>
<div class="steps-row bg-success px-5 row">
  <div class="p-4 text-light col-md-4">
    <h2>1. Schedule a session</h2>
    <p>
      Select a date and time when you want to exercise. We will send an email to
      confirm your session once we match a person who wants to do a workout at
      same time.
    </p>
  </div>
  <div class="p-4 text-light col-md-4">
    <h2>2. Start your video session</h2>
    <p>
      Each workout session lasts 15 min. You great your partner and add your
      goals to the exercise list or pull from the previously created exercise
      list.
    </p>
  </div>
  <div class="p-4 text-light col-md-4">
    <h2>3. End your session</h2>
    <p>
      Once you are done with the workout, leave a message for the partner. Human
      accountability will help you both achieve a great result.
    </p>
  </div>
</div>
