<div
  *ngIf="shouldShow()"
  class="workout-player p-2"
  [ngStyle]="getPositionStyle()"
>
  <div
    *ngFor="let exercise of workout.exercises; let i = index"
    class="exercise mb-1 p-1 "
    [ngClass]="{ active: isActive(i) }"
  >
    <div>{{ exercise.title }} | {{ getExerciseTime(exercise) }}</div>
    <div *ngIf="isLocal() && isActive(i)" class="active-fill" [ngStyle]="activeFillLeft(i)"></div>
  </div>
  <div *ngIf="isLocal()" class="d-flex justify-content-center">
    <button [disabled]="isPauseButtonsDisabled()" (click)="onTogglePause()" class="btn btn-success">
      <i *ngIf="!isPaused()" class="bi bi-pause"></i>
      <i *ngIf="isPaused()" class="bi bi-play"></i>
    </button>
  </div>
  <div *ngIf="isLocal()" class="d-flex justify-content-center">
    <button (click)="onTogglePause()" class="btn btn-success"><i class="bi bi-pause"></i></button>
  </div>
</div>
