.workout-player {
  background-color: cyan;
  position: absolute;
  bottom: 0px;
  z-index: 12;
  background-color: rgb(220, 220, 220, 0.6);
  color: white;
  min-width: 200px;

  .exercise-text {
    color: black;
  }

  .active {
    border: 1px solid rgb(250, 0, 0, 1);
    position: relative;
    z-index: 1;
  }
  .active-fill {
    content: "";
    position: absolute;
    background: black;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(250, 0, 0, 0.4);
    z-index: 0;
  }
}
