<div
  class="modal fade"
  id="instructionModal"
  tabindex="-1"
  aria-labelledby="instructionModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollabl"
  >
    <div class="modal-content">
      <!-- <div class="modal-header">
          <h5 class="modal-title" id="instructionModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
      <div class="modal-body row">
        <div class="col-sm">
          <h3 class="text-center font-weight-bold text-success">Do's</h3>
          <ul class="fs-5">
            <li>Great your partner and describe your plan</li>
            <li>Create your workout plan</li>
            <li>Workout by the plan</li>
            <li>Mute yourself if you're listening music</li>
            <li>Check in with your partner at the end and celebrate a successful workout!</li>
            <li>Smile and be friendly</li>
          </ul>
        </div>
        <div class="col-sm">
          <h3 class="text-center font-weight-bold text-danger">Don'ts</h3>
          <ul class="fs-5">
            <li>Disturb your partner</li>
            <li>Take pictures or recording</li>
            <li>Ask personal information</li>
            <li>Leave early</li>
            <li>Complain or comment your partner</li>
            <li>Socialize with others around you</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" (click)="go()" class="btn btn-success" data-bs-dismiss="modal">
          Start session
        </button>
      </div>
    </div>
  </div>
</div>
