<div class="row w-100 h-100">
  <div
    class="
      col-sm
      d-flex
      justify-content-center
      align-items-sm-center align-items-end
    "
    style="padding: 20px"
  >
    <div class="d-flex flex-column">
      <div>
        <ul>
          <li *ngFor="let session of sessions">
            <div *ngIf="session" class="d-flex flex-row">
              <div class="mx-1">{{ getDateTime(session) }}</div>
              <div class="mx-1">{{ session.title }}</div>
              <div *ngIf="canJoin(session)">
                <button class="btn btn-success" (click)="join(session)">
                  Join
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="!isLoggedIn()" class="btn-group">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          routerLink="/login"
        >
          Sign In
        </button>
      </div>
      <div *ngIf="isLoggedIn()" class="btn-group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          New Workout
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#instructionModal"
            >
              <i class="bi bi-plus-lg me-2"></i>
              <span class="fs-6">Instant workout</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <i class="bi bi-calendar-plus me-2"></i>
              <span class="fs-6">Schedule for later</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="
      col-sm
      d-flex
      justify-content-center
      align-items-sm-center align-items-start
    "
    style="padding: 20px"
  >
    <div>
      <div>105 people online</div>
    </div>
  </div>
</div>
