<div class="row w-100 h-100">
  <div
    class="
      col-sm
      d-flex
      justify-content-center
      align-items-sm-center align-items-end
    "
    style="padding: 20px"
  >
    <div>
      <div>105 people online</div>
    </div>
  </div>
  <div
    class="
      col-sm
      d-flex
      justify-content-center
      align-items-sm-center align-items-start
    "
    style="padding: 20px"
  >
    <div class="">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Start Workout
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#instructionModal"
            >
              <i class="bi bi-plus-lg me-2"></i>
              <span class="fs-6">Instant workout</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item">
              <i class="bi bi-calendar-plus me-2"></i>
              <span class="fs-6">Schedule for later</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
