<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-3 col-xs-2 bg-light"
    >
      <div class="position-sticky p-2">
        <app-session-upcoming
          [sessionRequests]="todaysWorkouts"
          (sessionInsert)="insertSession($event)"
          (sessionRemove)="removeSession($event)"
        ></app-session-upcoming>
      </div>
    </nav>

    <main class="col-9 col-xs-10">
      <app-calendar
        [sessionRequests]="sessionRequests"
        (sessionInsert)="insertSession($event)"
        (sessionRemove)="removeSession($event)"
      ></app-calendar>
    </main>
  </div>
</div>
