.cal-week-view {
  height: 400px;
  overflow-y: auto;
}
.cal-week-view .cal-time-events {
  max-height: 300px;
  overflow-y: auto;
}

.cal-day-headers {
  margin-right: 14.5px;
}

.cal-day-columns {
  height: 100%;
}
