<div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="loginGoogle()">Login with Google</button>
  <button (click)="loginFacebook()">Login with Facebook</button>
</ng-template>

<div class="row">
  <div class="col-9">
    <h4>Header</h4>
  </div>
  <div class="col-3">
    <button routerLink="">Home</button>
    <button routerLink="/call/newsessionid">Call</button>
  </div>
</div>

<router-outlet></router-outlet>

<h1>Footer</h1>
