<div *ngIf="isLoggedIn(); else userStatPanel">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>{{ userStat.displayName }}</h1>
    <div class="fs-3">{{ userStat.session }} sessions.</div>
    <div class="fs-3">{{ userStat.lastWeekSession }} sessions in last 7 days.</div>
    <div class="fs-3">{{ userStat.streakSession }} streaks.</div>
    <button
      class="mt-5 btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#introModal"
    >
      Intro
    </button>
  </div>
</div>

<ng-template #userStatPanel>
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="/assets/img/placeholder-image.jpg"
          class="d-block w-80 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="/assets/img/placeholder-image2.jpg"
          class="d-block w-80 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/assets/img/placeholder-image.jpg"
          class="d-block w-80 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</ng-template>
