<div [ngClass]="orientation === 'vertical' ? 'vertical' : 'horizontal'">
  <div
    class="d-flex"
    [ngClass]="{'flex-column': orientation === 'vertical',
              'flex-row justify-content-around': orientation === 'horizontal'}"
  >
    <div class="video-wrapper">
      <video id="device" class="video-player" autoplay #remote></video>
    </div>
    <div class="video-wrapper">
      <video id="me" class="video-player" autoplay #me></video>
    </div>
  </div>
</div>

<!-- <div class="horizontal" *ngIf="orientation === 'horizontal'">
  <div class="d-flex flex-row justify-content-around">
    <div class="video-wrapper">
      <video id="device" class="video-player" autoplay #remote></video>
    </div>
    <div class="video-wrapper">
      <video id="me" class="video-player" autoplay #me></video>
    </div>
  </div>
</div> -->
