<div class="container-fluid h-100 p-0">
  <header
    class="
      flex-shrink
      navbar navbar-dark
      sticky-top
      bg-dark
      flex-md-nowrap
      p-0
      shadow
    "
    style="min-width: 480px"
  >
    <a class="navbar-brand col-md-3 col-lg-2 ms-4 brand brand" href="#"
      >Uragsha</a
    >

    <nav class="d-flex flex-row mt-0 mt-sm-0 ms-sm-auto">
      <a class="me-3 py-2 text-light text-decoration-none" data-bs-toggle="modal" data-bs-target="#introModal"
        >Intro</a
      >
      <a class="me-3 py-2 text-light text-decoration-none" routerLink="/dashboard"
        >Calendar</a
      >
      <a class="me-3 py-2 text-light text-decoration-none" routerLink="session"
        >Sessions</a
      >
      <a
        *ngIf="authService.currentUser | async as user; else userProfile"
        class="me-3 py-2 ms-sm-auto text-light text-decoration-none"
      >
        <div class="dropdown">
          <div
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ user.displayName }}
            <img class="rounded-circle user-image" src="{{ user.photoUrl }}" />
          </div>
          <ul
            class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
            aria-labelledby="dropdownMenuButton1"
          >
            <li>
              <a class="dropdown-item text-light text-decoration-none"
                >Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item text-light text-decoration-none"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </a>
      <ng-template #userProfile>
        <a
          class="me-3 py-2 ms-sm-auto text-light text-decoration-none"
          routerLink="/login"
        >
          Sign In
        </a>
      </ng-template>
    </nav>
  </header>
  <div class="row m-0" style="height: calc(100vh - 50px)">
    <app-main-content></app-main-content>
    <app-introduction></app-introduction>
    <app-call-instruction (letsGo)="startIntstantSession()"></app-call-instruction>
  </div>

</div>
