.main-content {
  width: 100%;
  height: 100%;
}
.stats {

  background-color: grey;

}
.buttons {
  background-color: green;

}

.dropdown-toggle::after {
  content: none;
}

ul {
  list-style-type: none;
}

