<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand col-md-3 col-lg-2 ms-5 brand brand" href="#"
    >Uragsha</a
  >

  <nav class="d-flex flex-row mt-0 mt-sm-0 ms-sm-auto">
    <a class="me-3 py-2 text-light text-decoration-none" routerLink="/"
      >Calendar</a
    >
    <a class="me-3 py-2 text-light text-decoration-none" routerLink="session"
      >Sessions</a
    >
    <a
      class="me-3 py-2 ms-sm-auto text-light text-decoration-none"
      routerLink="/login"
      >{{getLoginButton()}}</a
    >
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="p-3">
  <div>
    <input [(ngModel)]="userName" />
    <button (click)="saveDemoData()">Save Demo Data</button>
    <button (click)="fetchAllSessionRequests()">Get Session Requests</button>
  </div>

 </div> -->
