.timer-panel {
  position: absolute;
  // background-color: greenyellow;
  bottom: 30px;
  // height: 50px;
  width: 100%;
  z-index: 100;
}
.time-title {

  background-color: black;
  font-size: 34px;
  font-weight: bold;
  color: white;
  // -webkit-text-fill-color: blue; /* Will override color (regardless of order) */
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: white;
}
