<div *ngIf="auth.currentUser | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p class="fs-1">Uragsha</p>
  <p class="fs-3">Account Login</p>
  <div class="p-2">
    <button class="btn btn-success" (click)="loginGoogle()">
      Login with Google
    </button>
  </div>
  <div class="p-2">
    <button class="btn btn-primary" (click)="loginFacebook()">
      Login with Facebook
    </button>
  </div>
  <div class="p-2">
    <button class="btn btn-secondary" (click)="loginTwitter()">
      Login with Twitter
    </button>
  </div>
  <div></div>
</ng-template>
