<div [ngClass]="orientation === 'vertical' ? 'vertical' : 'horizontal'">
  <div
    class="d-flex"
    [ngClass]="{
      'flex-column': orientation === 'vertical',
      'flex-row justify-content-around': orientation === 'horizontal'
    }"
  >
    <div class="video-wrapper">
      <div
        class="user-state d-flex justify-content-center align-items-center fs-2"
        *ngIf="remoteUserSetting.callState === CallStateEnum.waiting"
      >
        Waiting...
      </div>
      <app-video
        #remoteVideo
        [orientation]="orientation"
        [isFit]="remoteUserSetting.isFit"
        class="h-100 w-100 d-flex justify-content-center align-items-center"
      ></app-video>
      <app-options
        [connectionState]="connectionState"
        [userCallMetadata]="remoteUserSetting"
        (toggleFit)="toggleFit(remoteUserSetting)"
      ></app-options>
    </div>
    <div class="video-wrapper">
      <app-workout-editor
        *ngIf="
          remoteUserSetting.callState === CallStateEnum.waiting ||
          remoteUserSetting.callState === CallStateEnum.joined
        "
        [userCallMetadata]="userSetting"
      ></app-workout-editor>
      <app-workout-player
        *ngIf="remoteUserSetting.callState === CallStateEnum.waiting"
        [userCallMetadata]="userSetting"
      ></app-workout-player>
      <app-video
        #myVideo
        [orientation]="orientation"
        [isFit]="userSetting.isFit"
        class="h-100 w-100 d-flex justify-content-center align-items-center"
      ></app-video>
      <app-options
        [connectionState]="connectionState"
        [userCallMetadata]="userSetting"
        (leave)="leave()"
        (toggleMute)="toggleMute(userSetting)"
        (toggleFit)="toggleFit(userSetting)"
      ></app-options>
    </div>
  </div>
</div>

<app-timer [initSeconds]="secondsLeft" (timeDone)="timeDone()"></app-timer>

<!-- <app-messages></app-messages> -->
