<div class="options">
  <div class="options-panel collapse" id="options-panel">
    <div class="card border-secondary mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10 d-flex align-items-center">Options</div>
          <button
            class="col-md-2 btn btn-primary float-right"
            data-bs-toggle="collapse"
            data-bs-target="#options-panel"
          >
            X
          </button>
        </div>
      </div>
      <div class="card-body text-secondary">
        <h5 class="card-title">Debug</h5>
        <p class="card-text">
          <br />
          <!-- sessionRequestId: {{ sessionRequestId }}<br />
  sessionId:{{ sessionDetail?.sessionId }}<br />
  userId:{{ userId }}<br /> -->
          Connection status:{{ connectionState }}<br />
          <br />

          <button (click)="onStartCall()">Start Call</button><br />
          <button (click)="onEndCall()">End Call</button><br />
          <br />
        </p>
      </div>
    </div>
  </div>

  <div class="options-buttons d-flex justify-content-end">
    <button class="btn btn-primary options-button m-1" (click)="onMute()">
      Mute
    </button>
    <button class="btn btn-primary options-button m-1" (click)="onFullScreen()">
      Full Screen
    </button>
    <button
      class="btn btn-primary options-button m-1"
      data-bs-toggle="collapse"
      data-bs-target="#options-panel"
    >
      More Options
    </button>
    <button class="btn btn-danger options-button m-1" (click)="onLeave()">
      Leave
    </button>
  </div>
</div>
